.ui-front {
	z-index: 100;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
}

.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}

.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	/* padding: 3px 1em 3px .4em; */
	padding: 1px 1px 1px 1px;
}

.ui-widget-content {
	border: 2px ridge #c2c2c2;
	background-color: #666666;
	color: white;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background-color: #c2c2c2;
	color: black;
}

.ui-widget, .ui-menu .ui-state-focus, .ui-menu .ui-state-active { }
